  .number-block {
    display: flex;
    align-items: center;
    p {
      font-size: 1.4rem;
    }
    .number {
      background: #EEE7FE;
      padding: .4rem .6rem;
      color: #636366;
      border-radius: .4rem;
      margin-left: 1rem;
    }
  }